.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* margin-top: 100px; /* Added a margin to shift it down a bit */
  z-index: 999998; /* Higher than the splash screen */
  position: relative; /* Required for z-index to take effect */
}

.progress-bar__container {
  width: 250px;
  height: 0.8rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  will-change: transform;
  box-shadow: 0 0 5px #fbcd5a; /* Update color to something that fits for you*/
}

.progress-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #fbcd5a; /* Update color to something that fits for you*/
  top: 0;
  bottom: 0;
  left: -100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
}

.progress-bar__text {
  display: none;
  font-size: x-small;
}

.mask-image {
  mask-image: linear-gradient(black 80%, transparent);
}
